@model InsightHub.Models.ReportModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>
<p />
@if (User.Identity.IsAuthenticated && User.Identity.Name == Model.Author.Split(' ').Last() || User.IsInRole("Admin"))
{
    <h2 style="color:#04202C; font-family: Cambria">Edit Report</h2>

    <hr />
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Summary" class="control-label"></label>
                    <textarea asp-for="Summary" class="form-control"></textarea>
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Industry" class="control-label"></label>
                    <select asp-for="Industry" class="form-control" asp-items="@ViewData["Industry"] as IEnumerable<SelectListItem>"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ImgUrl" class="control-label">Image URL</label>
                    <input asp-for="ImgUrl" class="form-control" />
                    <span asp-validation-for="ImgUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label">Tags (comma separated)</label>
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload a PDF file to your report:</p>
                        <input class="btn btn-outline-dark" type="file" name="file" accept="application/pdf" required />
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>
    </div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

}
else
{
    <h1>You do not have access to edit this report.</h1>
}


