@model InsightHub.Models.UserModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-4" style="color:#04202C; font-family: Cambria">Unban @Html.DisplayFor(model => model.Email)</h2>

<h4 class="font-italic">Are you sure you want to unban this user?</h4>
<div>
    <form asp-action="Unban">
        <div class="form-group">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BanReason)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BanReason)
                </dd>
            </dl>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Unban" class="btn btn-outline-success" />
        </div>
    </form>
</div>