@model InsightHub.Models.IndustryModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <a class="btn-success" asp-area="" asp-controller="Home" asp-action="Index">InsightHub</a>
    </div>
</div>

<div>You just contacted with us. Thank you for your pationce. Have a nice time waiting.</div>