@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index">Home</a>
</div>
<div class="row" style="font-family:Cambria">
    <h1 class="text-dark">
        <b>
            Oops!
        </b>
    </h1>
</div>
<div class="row">
    <h3 class="text-dark">It seems we have encountered an error!<br /></h3>
    <img src="~/img/ServerOnFire.png" />
</div>
<div class="row">
    <p />
</div>
<div class="row">
    <a class="btn btn-outline-dark" asp-controller="ContactWithUs" asp-action="ContactWithUs">Contact Us</a>
</div>