@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index">Home</a>
</div>

<h1 class="text-danger">Oops.</h1>
<h2 class="text-danger">Something went wrong.</h2>
<img src="~/img/ServerOnFire.png" />
<div class="row">
    <p />
</div>
<div class="row">
    <a class="btn btn-outline-dark" asp-controller="ContactWithUs" asp-action="ContactWithUs">Contact Us</a>
</div>
