@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Insight Hub</h1>
</div>
<div class="text-right">
    <partial name="Partial/_Top5NewestReports"/>
</div>
