@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:#04202C; font-family: Cambria">Welcome to Insight Hub!</h1>
</div>
<div>
    @await Component.InvokeAsync("FeaturedViewComponent")
</div>
<div>
    @await Component.InvokeAsync("NewestViewComponent")
</div>
<div>
    @await Component.InvokeAsync("MostDownloadedViewComponent")
</div>