<div class="row">
    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index">Home</a>
</div>
<div class="row">
    <h2>Your account is still pending. Please allow a few hours for an Administrator to approve it. Feel free to browse our Reports library in the meantime.</h2>
</div>
<div class="row">
    <a class="btn btn-outline-dark" asp-controller="Reports" asp-action="Index">Reports</a>
</div>