@{
    ViewData["Title"] = "Account Banned";
}
    <div class="row">
        <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index">Home</a>
    </div>
<div class="row">
    <h2>Your account has been banned. Please feel free to contact us if you believe this decision was incorrect.</h2>
</div>
<div class="row">
    <a class="btn btn-outline-dark" asp-controller="ContactWithUs" asp-action="ContactWithUs">Contact Us</a>
</div>